name: Unit tests

on:
  push:
  pull_request:

permissions:
  contents: read

env:
  GO_VERSION: "1.25"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Test
        run: make test
